<div class="flow-panel">
	<div class="container d-flex flex-column outer-div">
		<div class="py-2 pt-3 px-4">
			<span class="flow">
				FLOW/STATE
			</span>
			<div class="leading-state mb-5 ml-3">
				Bind/Payment - all steps visible
			</div>
			<span class="flow">
				ACCEPTANE CRITERIA/INTERACTION
			</span>
			<div class="state mb-5">
				Bind/Payment - all steps visible
			</div>
			<span class="flow">
				FLOW/STATE
			</span>
			<div class="state mb-5">
				Questions &amp; comments
			</div>
		</div>
		
		<div class="mb-5 mt-8 mr-5 text-right">
			<div class="button-div">
				<button type="button" class="btn btn-light continue-button">
					<span class="continue-text">CONTINUE &nbsp; &rarr;</span>
				</button>
			</div>
		</div>
		
	</div>
</div>